html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 1em;
  height: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "list content content content";
}

.userlist {
  grid-area: list;
}

.displayarea {
  margin: 1em;
  grid-area: content;
  text-align: center;
}

.displayarea ul {
  list-style: none;
  padding: 0;
  margin: 0.5em;
}

.displayarea ul li {
  padding: 0.25em;
  margin: 0;
}

.displayarea .list img,
.displayarea .list video {
  max-width: 50vw;
}

.displayarea .grid img,
.displayarea .grid video {
  max-width: 100px;
  max-height: 100px;
}
.displayarea .grid ul {
  display: flex;
}
