html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 1em;
  height: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "controls content content content";
}

.controls {
  grid-area: controls;
  position: fixed;
  width: 25%;
}

.displayarea {
  margin: 1em;
  grid-area: content;
  text-align: center;
}

.displayarea ul {
  padding: 0;
  margin: 0.5em;
}

.displayarea ul li {
  padding: 0.25em;
  margin: 0;
}

.displayarea.list img,
.displayarea.list video {
  max-width: 50vw;
  max-height: 50vh;
}

.displayarea.grid img,
.displayarea.grid video {
  max-width: 275px;
  max-height: 275px;
}

.displayarea ul {
  list-style: none;
}

.displayarea.grid ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.displayarea.grid .entry.dotfiles ul,
.displayarea.grid .entry.websites ul,
.displayarea.grid .entry.distros ul {
  list-style-type: circle;
  display: block;
}

.controls .searchParams {
  padding: 0.5em 0;
}
